@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


            <hr>
            <h1 align="center">Про нас </h1>
            <hr>
            <ul>
                <li><span class="cont">Наша адреса:</span></li>
                <li><span class="cont">Україна,</span></li>
                <li><span class="cont">79005, м.Львів,</span></li>
                <li><span class="cont">вул..Ів.Франка, 33/14</span></li>
                <li><span class="cont">наші телефони:</span></li>
                <li><span class="cont">т/ф.(032) 276-20-40, 225-59-48,</span></li>
                <li><span class="cont">e-mail: gryntour@mail.lviv.ua</span></li>
                <li><span class="cont">www. gryntour.lviv.ua</span></li>
            </ul>
            <hr>
        
    