@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 align="center">Тури в Карпати</h1>
<hr>
<img src="/content/images/im3.jpg" align="left" />
<h2 align="center">Яремче - серце Карпат</h2>
<hr>
<span class="cont">"Неофіційна столиця Українських Карпат", "ворота в Карпати", "головний кліматичний курорт і центр зеленого туризму Прикарпаття", "обличчя гірськолижної країни Буковель" - Яремче називають по-різному.Так чи інакше, в останні роки, коли українці з відомих причин стали рідше їздити за кордон, це мальовниче містечко з населенням 8 тисяч осіб переживає щось схоже на туристичний бум.Маковиця -найближча до Яремча гора заввишки 984 метри; зійти на неї кружним маршрутом у хорошу погоду легко можуть і старі, й малі.Водночас біля центру міста схили Маковиці стрімкі – ці флішеві виходи прозвали "скеля Слон". Саме тут, над річкою Прут напроти яремчанського автовокзалу, найзручніше досліджувати геологічну структуру Карпатських гір.</span>
<hr>
<span class="cont">Наша компанія пропонує тури до Яремче по максимально зручним цінам. Професійний гід покаже вам відомі і невідомі мальовничі куточки міста, а природа та свіже повітря Карпат назавжди залишать в вашому серці незабутні спогади</span>
<hr>
       
