@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    

            <h1 align="center">Тури по Україні</h1>
            <hr>
            <img src="/content/images/im4.jpg" align="left" />
            <h2 align="center">Олешківські піски</h2>
            <hr>
            <span class="cont">«Олешки» — насправді давня назва міста Цюрупинськ, поблизу якого розташована пустеля. Особливістю ландшафтів Олешківські піски завдячують своєму походженню. Існує цікаве припущення, що створення пустелі стало результатом того, що в долиною стародавнього Дніпра за льодовикової епохи рухався велетенський масив континентального льоду. Він періодично приходив з півночі по руслу Дніпра і приносив із собою сотні кілометрів ґрунтової маси, що залищалася після танення льдовика. Цей ґрунт формував природні дамби, що відмежовували прильодовикові озера від нижньої ділянки русла ріки.</span>
            <hr>
            <span class="cont">Наша компанія пропонує тури по Олешківській пустелі. Ви зможете насолодотись різноманітною природою, нетиповою для України, у трьохденному поході через пустелю.</span>
            <hr>
        
